.image-container {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    gap: 10px; /* Espaço entre as imagens */
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    background-color: #f0f0f0; /* Cor de fundo clara */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0;
    padding: 20px; /* Espaçamento interno */
    margin: 30px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}